<div class="main">
    <h2 class="heading1">Standard Room Details</h2>
    <div class="parent" *ngFor="let room of rooms   ">
        <div class="div1"><img src={{room.imgone}} alt=""></div>
        <div class="div2">{{room.imgone}}</div>
        <div class="div4">
            <div class="title">Bed</div>
            <div class="title">Windows</div>
            <div class="title">Smoking</div>
            <div class="title">Size</div>
            <div class="title">Internet</div>
            <div class="title">Drink</div>
            <div class="title">Snacks</div>
            <div class="title">Skin Care</div>
            <div class="title">Iron</div>
            <div class="title">Media</div>
            <div class="title">AC</div>
            <div class="title">Fans</div>
            <div class="title">Fridge</div>
            <div class="title">Microwave</div>
            <div class="title">Iron</div>

        </div>
        <div class="div5" *ngFor="let room of rooms">
            <div class="inf">{{room.bed}}</div>
            <div class="inf">{{room.window}}</div>
            <div class="inf">{{room.smoking}}</div>
            <div class="inf">{{room.size}}</div>
            <div class="inf">{{room.internet}}</div>
            <div class="inf">{{room.drink}}</div>
            <div class="inf">{{room.snack}}</div>
            <div class="inf">{{room.skincare}}</div>
            <div class="inf">{{room.ac}}</div>
            <div class="inf">{{room.fan}}</div>
            <div class="inf">{{room.fridge}}</div>
            <div class="inf">{{room.microwave}}</div>
            <div class="inf">{{room.iron}}</div>
        </div>
        <div class="div6"> action</div>
    </div>

</div>

<!-- ////////////////// -->