<div class="main">
    <div class="container-fluid p-4">
        <h2 class="mb-4 t1">Dashboard</h2>
        <p class="t2">Welcome to our Classical Star Hotel !</p>
        <div class="row g-4 mb-4">
            <div class="col-md-3">
                <div class="card text-center shadow-sm  c1" style="border: 2px solid #C8A94F; border-radius: 14px;">
                    <div class="card-body">
                        <h3 class="card-title">{{allRooms}}</h3>
                        <p class="card-text">Total Rooms</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center shadow-sm c2" style="border: 2px solid #C8A94F; border-radius: 14px;">
                    <div class="card-body ">
                        <h3 class="card-title">{{bookedBookingLength}}</h3>
                        <p class="card-text">Booked Rooms</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center shadow-sm c3" style="border: 2px solid #C8A94F; border-radius: 14px;">
                    <div class="card-body">
                        <h3 class="card-title">{{activeLength}}</h3>
                        <p class="card-text">Active Staff</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center shadow-sm c4" style="border: 2px solid #C8A94F; border-radius: 14px;">
                    <div class="card-body ">
                        <h3 class="card-title">{{inactiveLength}}</h3>
                        <p class="card-text">Inactive Staff</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="row">
                <div class="col-md-8">
                    <app-user-status></app-user-status>
                </div>
                <div class="col-md-4" style="display: flex;align-items: center;justify-content: center;">
                    <div class="chart-grid" style="margin-top: 35%;">
                        <app-user-status-chart></app-user-status-chart>
                    </div>
                </div>
            </div>
        </div>

        <!-- ///////// -->
        <div class="grid">
            <div class="row">
                <div class="col-md-8">
                    <app-booking-status></app-booking-status>
                </div>
                <div class="col-md-4" style="display: flex;align-items: center;justify-content: center;">
                    <div class="chart-grid" style="margin-top: 35%;">
                        <app-room-status-chart></app-room-status-chart>
                    </div>
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="row">
                <div class="col-md-7">
                    <app-guest-booking-status></app-guest-booking-status>
                </div>
                <div class="col-md-5" style="display: flex;justify-content: center;align-items: end;">
                    <app-guest-booking-chart></app-guest-booking-chart>
                </div>
            </div>
        </div>
    </div>
</div>