<div class="main">
    <h2 class="heading1">Delux Room Details</h2>
    <div class="parent">
        <div class="div1"><img src="assets/suitone.jpg" alt=""></div>
        <div class="div2"><img src="assets/suittwo.jpg" alt=""></div>
        <div class="div4">
            <div class="title">Bed</div>
            <div class="title">Windows</div>
            <div class="title">Smoking</div>
            <div class="title">Size</div>
            <div class="title">Internet</div>
            <div class="title">Iron</div>
            <div class="title">Media</div>
            <div class="title">Drink</div>
            <div class="title">Snacks</div>
            <div class="title">Skin Care</div>
        </div>
        <div class="div5">
            <div class="inf">Double Bed x 4</div>
            <div class="inf">Yes (4)</div>
            <div class="inf">Yes</div>
            <div class="inf">26–29㎡</div>
            <div class="inf">Contact hotel</div>
            <div class="inf">Iron and ironing board</div>
            <div class="inf">Yes</div>
            <div class="inf">Yes</div>
            <div class="inf">Yes</div>
            <div class="inf">Yes</div>
        </div>
        <div class="div6"> action</div>
    </div>
</div>