<div class=" login-wrapper ">
    <div class="login-box ">
        <h3>Login</h3>

        <div class="mb-3 ">
            <label>Email</label>
            <input type="text " class="form-control ">
        </div>

        <div class="mb-3 ">
            <label>Password</label>
            <input type="password " class="form-control ">
        </div>

        <button class="btn login-btn w-100" (click)="login()">Login</button>
        <button class="btn login-btn w-100 booking" (click)="booking()">Booking</button>
    </div>
</div>