hr {
    border: 1px solid #C8A94F;
}

.nav-logo {
    color: #C8A94F;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 26px;
    padding: 12px 0;
    text-align: center;
    border-bottom: 2px solid #C8A94F;
    width: 100%;
}

.sidebar {
    background-color: #FFFFFF;
    border-right: 1px solid #E5E5E5;
    padding-top: 15px;
    border-right: 1px solid black;
    position: fixed;
    /* margin-top: 46.4%; */
}

.nav-link i {
    margin-right: 8px;
    width: 18px;
}

.nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100px;
    color: black !important;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s ease-in;
    width: 12em;
    border-radius: 10px;
}

.nav-link:hover {
    color: white !important;
    background-color: #C8A94F;
    box-shadow: 0px 0px 8px rgba(200, 169, 79, 0.3);
}

.nav-item {
    transition: all 0.2s ease-in;
    height: 40px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}


/* .nav-item:hover {} */

.nav-link:active {
    background-color: #C8A94F;
}


/* .nav-item.active .nav-link {
    color: white !important;
} */