<div class="main">
    <div class="container-fluid p-4">
        <h3 class="mb-4">Room Management</h3>

        <div class="card p-3 mb-3">
            <h5>{{ editRoom ? 'Edit Room' : 'Add Room' }}</h5>

            <form [formGroup]="roomForm">
                <div class="card-flex">
                    <div class="row">

                        <div class="row">
                            <div class="col-md">
                                <label>Select Room</label>
                                <select class="form-control mb-2" formControlName="room">
                                    <option value="Select">Select Role</option>
                                    <option>Standard</option>
                                    <option>Deluxe</option>
                                    <option>Suite</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Room Price</label>
                                <input type="number" class="form-control mb-2" formControlName="price">
                            </div>

                            <div class="col-md">
                                <label>Bed</label>
                                <input type="text" class="form-control mb-2" formControlName="bed">
                            </div>

                            <div class="col-md">
                                <label>Windows</label>
                                <input type="text" class="form-control mb-2" formControlName="window">
                            </div>

                            <div class="col-md">
                                <label>Smoking</label>
                                <select class="form-control mb-2" formControlName="smoking">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <label>Room Size</label>
                                <input type="text" class="form-control mb-2" formControlName="size">
                            </div>

                            <div class="col-md">
                                <label>Internet</label>
                                <select class="form-control mb-2" formControlName="internet">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Drinks</label>
                                <select class="form-control mb-2" formControlName="drink">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Snacks</label>
                                <select class="form-control mb-2" formControlName="snack">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Skin Care</label>
                                <select class="form-control mb-2" formControlName="skincare">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <h5>Room Appliances</h5>
                            <div class="col-md">
                                <label>Air Conditioner</label>
                                <select class="form-control mb-2" formControlName="ac">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Fan</label>
                                <select class="form-control mb-2" formControlName="fan">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Fridge</label>
                                <select class="form-control mb-2" formControlName="fridge">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Microwave</label>
                                <select class="form-control mb-2" formControlName="microwave">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Iron</label>
                                <select class="form-control mb-2" formControlName="iron">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <div class="col-md">
                                <label>Media</label>
                                <select class="form-control mb-2" formControlName="media">
                                    <option value="No">No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <label>Img 1st View</label>
                                <input type="file" class="form-control mb-2" formControlName="imgone">
                            </div>
                            <div class="col-md">
                                <label>Img 2nd View</label>
                                <input type="file" class="form-control mb-2" formControlName="imgtwo">
                            </div>
                            <div class="col-md">
                                <label>Img 3rd View</label>
                                <input type="file" class="form-control mb-2" formControlName="imgthree">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="button" (click)="save()">{{ editRoom ? 'Update' : 'Add' }}</button>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-secondary" type="button" (click)="reset()">Clear</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary ms-2" (click)="roomDetails()">Room Details</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="table-responsive" style="min-width: 90% !important;">
            <table class="table table-responsive table-hover align-middle" style="border: 2px solid #C8A94F; border-radius: 12px; overflow: hidden;">
                <thead class="table-light" style="background-color: #C8A94F; color: white;">
                    <tr>
                        <th>#</th>
                        <th>Room Ctg</th>
                        <th>Room Price</th>
                        <th>Bed</th>
                        <th>Windows</th>
                        <th>Smoking</th>
                        <th>Room Size</th>
                        <th>Internet</th>
                        <th>Drinks</th>
                        <th>Snacks</th>
                        <th>Skin-Care</th>
                        <th>Media</th>
                        <th>AC</th>
                        <th>Fans</th>
                        <th>Fridge</th>
                        <th>Microwave</th>
                        <th>Iron</th>
                        <th>Img 1st View</th>
                        <th>Img 2nd View</th>
                        <th>Img 3rd View</th>
                        <th>Action</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms()">
                        <td>{{room.id}}</td>
                        <td>{{room.room}}</td>
                        <td>{{room.price}}</td>
                        <td>{{room.bed}}</td>
                        <td>{{room.window}}</td>
                        <td>{{room.smoking}}</td>
                        <td>{{room.size}}</td>
                        <td>{{room.internet}}</td>
                        <td>{{room.drink}}</td>
                        <td>{{room.snack}}</td>
                        <td>{{room.skincare}}</td>
                        <td>{{room.media}}</td>
                        <td>{{room.ac}}</td>
                        <td>{{room.fan}}</td>
                        <td>{{room.fridge}}</td>
                        <td>{{room.microwave}}</td>
                        <td>{{room.iron}}</td>
                        <td>{{room.imgone}}</td>
                        <td>{{room.imgtwo}}</td>
                        <td>{{room.imgthree}}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="edit(room)">Edit</button>
                            <button class="btn btn-sm btn-danger ms-1" (click)="delete(room.id)">Delete</button>
                        </td>
                        <td>
                            <button type="button" class="btn" id="dtl" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: aqua;color: white;" (click)="setRoomCatIdInRoomDetail(room.id)">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="other-tbl">
    <div class="dlt-grid">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 1115px !important;margin-left: -200px !important;">
                    <div style="display: inline !important;">
                        <div style="display: inline !important;">
                            <button type="button" class="btn btn-secondary close mt-2" data-bs-dismiss="modal" aria-label="Close" style="display: inline !important;"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        <h3 class="mb-4 rl" style="display: inline !important;margin-left: 30% !important;">Rooms Listing</h3>
                    </div>
                    <div class="modal-body">

                        <div class="card p-3 mb-3">
                            <h5>{{ editRoomDetail ? 'Edit Rooms / Availability ' : 'Add Room / Availability' }}</h5>

                            <form [formGroup]="detailsForm">
                                <div class="card-flex listing-flex">
                                    <input type="text" class="form-control mb-2" formControlName="roomNo" placeholder="Enter Room Number">
                                    <select class="form-control mb-2" formControlName="status">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                    <select class="form-control mb-2" formControlName="reason">
                                        <option value="Free">Free</option>
                                        <option value="Booked">Booked</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                    <div class="dtl">
                                        <button class="btn btn-primary" type="button" (click)="saveDetails(roomDetailId());">{{ editRoomDetail ? 'Update' : 'Add' }}</button>
                                        <button class="btn btn-secondary ms-2" type="button" (click)="resetDetail()">Clear</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="" style="width: 50% !important;">
                            <table class="table table-hover align-middle" style="border: 2px solid #C8A94F; border-radius: 12px; overflow: hidden;">
                                <thead class="table-light" style="background-color: #C8A94F; color: white;">
                                    <tr>
                                        <th>#</th>
                                        <th>Room Number</th>
                                        <th>Status</th>
                                        <th>Reason</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let roomDetail of roomsDetails">
                                        <td>{{roomDetail.id}}</td>
                                        <td>{{roomDetail.roomNo}}</td>
                                        <td>{{roomDetail.status}}</td>
                                        <td>{{roomDetail.reason}}</td>
                                        <td>
                                            <button class="btn btn-info" (click)="editDetails(roomDetail)">Edit</button>
                                            <button class="btn btn-danger ms-1" (click)="deleteDetail(roomDetail.id)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <h1>Per Day Per Room Price : 5000 </h1>
    <h3>Room Qty : {{roomQty()}}</h3>
    <h3>Days : {{perDay()}}</h3>
    <h3>Total Price : {{totalPrice()}} </h3>
    <button (click)="addQty() ">Room Quantity + </button>
    <button (click)="finalPrice() ">Day + </button> -->