.main {
    width: 83%;
    margin-left: 220px;
    /* margin-top: -46.4%; */
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    animation: fadeIn 0.6s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.heading {
    color: #2A2A2A;
    margin-bottom: 20px;
    font-weight: 700;
}

.card {
    border-radius: 10px;
    padding: 20px;
    border: none;
    width: 99%;
    margin-left: 0.5%;
}

.card h5 {
    color: #2A2A2A;
    margin-bottom: 15px;
    font-weight: 600;
}

.form-control {
    background: white !important;
    border: 1px solid #C8A94F !important;
    color: #2A2A2A !important;
    padding: 10px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.form-control:focus {
    border-color: #b9983e !important;
    box-shadow: 0 0 5px rgba(200, 169, 79, 0.4);
}

.card-flex {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.btn-primary {
    background: #C8A94F;
    border: 1px solid #C8A94F;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    transition: .2s;
}

.btn-primary:hover {
    background: white;
    color: #C8A94F;
}

.btn-secondary {
    background: white;
    border: 1px solid #C8A94F;
    padding: 10px 20px;
    color: #C8A94F;
    border-radius: 6px;
    font-weight: 600;
}

.btn-secondary:hover {
    background: #C8A94F;
    color: white;
}

table {
    color: #2A2A2A;
    width: 200%;
    /* margin-left: 0.5%; */
    /* background-color: black; */
}


/* .table {
    background: #FFFFFF;
    border-color: #DDD;
} */

.table-light th {
    background: #c5940cbd !important;
    color: black !important;
    /* border-radius: 2px; */
    font-weight: 600;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid white !important;
}

td,
th {
    border: 1px solid rgb(0, 0, 0) !important;
}

.btn-info {
    background: #C8A94F;
    border: none;
    color: white;
}

.btn-info:hover {
    background: #b9983e;
}

.btn-info:focus {
    background: #b9983e;
    color: white;
}

.btn-danger {
    background: #dc3545;
    border: none;
}

.btn-danger:hover {
    background: #bb2d3b;
}

.rl {
    text-align: center;
    margin-top: 10px;
}

.listing-flex {
    display: flex !important;
    flex-direction: row !important;
}

.listing-flex .form-control {
    width: 197px !important;
}

.close {
    margin-bottom: 2%;
    background: none !important;
    border: none !important;
    font-size: 24px;
}

.close:hover {
    background: none !important;
    border: none !important;
    color: #b9983e;
    opacity: 0.7;
}

.dlt button {
    height: 32px;
}